<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="shadow p-3 mb-5 bg-body rounded-3">
        <div class="d-flex flex-row mb-3">
          <div class="d-flex flex-column ml-2"> <span>Alumnos</span>
            <span class="text-black-50">CRUD</span>
          </div>
        </div>
        <h6>Lista de alumnos con la opción de editar, eliminar y actualizar</h6>
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-primary" (click)="onNavigate()">Ver</button>
        </div>
      </div>
    </div>
  </div>
</div>
