<div class="container">
  <div class="text-left mb-3 mt-3">
    <button class="btn btn-info shadow" type="button" [routerLink]="['/alumnos']">Regresar</button>
  </div>

  <ul class="alert alert-danger" *ngIf="errores?.length>0">
    <li *ngFor="let error of errores">{{error}}</li>
  </ul>

  <div class="card shadow">
    <div class="card-header">Registro de Alumnos</div>
    <div class="card-body">
      <form >
        <div class="row mb_2">
          <div class="col-sm-3">
            <label class="col-form-label">Nombre</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="nombre" [(ngModel)]="alumno.nombre">
          </div>
        </div>

        <div class="row mb_2">
          <div class="col-sm-3">
            <label class="col-form-label">Numero de control</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="numeroControl" [(ngModel)]="alumno.numeroControl">
          </div>
        </div>

        <div class="row mb_2">
          <div class="col-sm-3">
            <label class="col-form-label">Correo Electrónico</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="email" [(ngModel)]="alumno.email">
          </div>
        </div>

        <div class="row mb_2" >
          <div class="col-sm-12 text-center">
            <button class="btn btn-primary" role="button" (click)="enviarDatos()">Guardar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
