<div class="container mt-5">
  <div class="row justify-content-md-center d-flex align-items-center">
    <div class="col col-lg-4">
      <h3 class="modal-title text-center mt-3">Inicio de sesión</h3>
      <div class="shadow p-3 mb-5 bg-body rounded-3 text-center">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

          <div class="form-floating mb-3">
            <input type="text" [className]="baseForm.isValidField(loginForm.get('username')) ? 'form-control is-invalid': 'form-control'"
            placeholder=" " formControlName="username">
            <label>Usuario</label>
            <div class="invalid-feedback">
              {{baseForm.getErrorMessage(loginForm.get('username'))}}
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" [className]="baseForm.isValidField(loginForm.get('password')) ? 'form-control is-invalid': 'form-control'"
            placeholder=" " formControlName="password">
            <label>Contraseña</label>
            <div class="invalid-feedback">
              {{baseForm.getErrorMessage(loginForm.get('password'))}}
            </div>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary" [disabled]="this.loginForm.invalid">Iniciar Sesión</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
